<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caesar.hit">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaesarHit">
        <activity android:name=".normal.CusViewActivity"></activity>
        <activity android:name=".normal.NamesActivity" />
        <activity android:name=".normal.InterActivity" />
        <activity android:name=".normal.MoreActivity" />
        <activity android:name=".normal.MyViewModelActivity" />
        <activity android:name=".normal.FragActivity" />
        <activity android:name=".normal.SimpleActivity" />
        <activity android:name=".normal.OtherActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".normal.MyService" />
    </application>

</manifest>